/* Estilo para a página de Itinerário Personalizado */
body {
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    color: #333; /* Cor do texto escura */
    font-family: 'Helvetica', sans-serif; /* Fonte padrão */
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover preenchimento padrão */
}

h1 {
    font-size: 28px;
    text-align: center;
    padding: 20px;
    background-color: #002b49; /* Cor de fundo azul escuro para o cabeçalho */
    color: #fff; /* Cor do texto em branco */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Cor de fundo branca para o formulário */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px;
}

select {
    height: 36px;
}

input[type="submit"] {
    background-color: #002b49; /* Cor de fundo azul escuro para o botão de envio */
    color: #fff; /* Cor do texto em branco */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0073a1; /* Cor mais escura ao passar o mouse */
}
